<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The home of creators and dreamers. An AI development and research community.">
	<meta name="google-site-verification" content="jMgOBqBBFyfaG2rFQDOeJtQ-NSCTNWZgg5yIPA-5Bbk" />
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/central-content.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='images/mf-trans.webp')}}">
</head>
<body>
    <div style="text-align: center; padding: 30px;">
        <h2>{{headline}}</h2>
        <p>
            {{message}}
        </p>
        <br/>
            {% if button_text == "Close" %}
            <a href="javascript:;">
                <button id="btn_back" onclick="window.close();">
                    <span>{{button_text}}</span>
                </button>
            </a>
            {% else %}
            <a href="{{url_for('index')}}">
                <button id="btn_back">
                    <span>{{button_text}}</span>
                </button>
            </a>
            {% endif %}
    </div>
</body>
</html>