<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The home of creators and dreamers. An AI development and research community.">
	<meta name="google-site-verification" content="jMgOBqBBFyfaG2rFQDOeJtQ-NSCTNWZgg5yIPA-5Bbk" />
    <title>Email Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/central-content.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='images/mf-trans.png')}}">
</head>
<body>
    <div style="text-align: center; padding: 30px;">
        <h2>Thank you for your attention to our community, {{ name }}</h2>
        <p>
            Please click on the button below to verify your email address.
        </p>
        <br/>
        <a href="{{ link }}">
            <button id="btn_back">
                <span>Verify</span>
            </button>
        </a>
    </div>
</body>