table {
    border-collapse: collapse;
    border-top: 1px solid rgb(139, 139, 139);
    border-bottom: 1px solid rgb(139, 139, 139);
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px;
}

thead
{
    background-color: rgba(0, 0, 0, 0.1);
}

tbody
{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

h1
{
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 35px;
    margin: 10px;
    margin-left: 0;
    position: relative;
    float: left;
}

#logo
{
    position: relative;
    float: left;
    width: 42px;
    margin: 10px;
}

#topbar
{
    position: sticky;
    top: 0;
    background-color: inherit;
}

#topbar button
{
    position: relative;
    float: right;
    height: 30px;
    margin-top: 16px;
    margin-right: 10px;
    border: 1px rgb(139, 139, 139) solid;
    border-radius: 3px;
    color: inherit;
    background-color: whitesmoke;
    transition: all 0.15s ease-in-out;
    box-sizing: border-box;
}

#topbar button:hover
{
    outline: 3px rgb(220, 220, 220) solid;
}

@media (prefers-color-scheme: dark) {
    thead
    {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #topbar button
    {
        background-color: rgb(67, 67, 67);
    }

    #topbar button:hover
    {
        outline: 3px rgb(70, 70, 70) solid;
    }
}
