.macOS-window
{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.8px solid rgb(180, 180, 180);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.macOS-window-titlebar
{
    width: 100%;
    height: 28px;
    user-select: none;
    text-align: left;
    /* box-sizing: border-box;
    border-bottom: 0.8px solid rgb(180, 180, 180); */
}

.macOS-window-titlebar .button
{
    width: 11.8px;
    height: 11.8px;
    min-width: 11.8px;
    min-height: 11.8px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
    box-sizing: border-box;
    display: inline-block;
    user-select: none;
}

.button:nth-of-type(1)
{
    background-color: rgb(236,106,94);
    border: 0.75px solid rgb(222, 95, 84);
}

.button:nth-of-type(2)
{
    margin-left: 3px;
    background-color: rgb(244,191,79);
    border: 0.75px solid rgb(231, 178, 75);
}

.button:nth-of-type(3)
{
    margin-left: 3px;
    background-color: rgb(97,197,84);
    border: 0.75px solid rgb(94, 185, 77);
}

.macOS-window-title
{
    display: inline-block;
    line-height: 20px;
    font-size: 13.6px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-weight: bolder;
    text-align: center;
    padding: 0;
    width: 200px;
    margin-left: calc(((100% - 200px) / 2) - 65px);
}

.macOS-window-content
{
    padding: 25px;
    height: calc(100% - 28px);
    overflow-y: auto;
    font-size: 15px;
    color: rgb(80, 80, 80);
}

.macOS-window-content::-webkit-scrollbar
{
    display: none;
}
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: #000;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
    text-decoration: none;
}

.scrolltop:hover{
    background-color: rgb(35, 34, 34);
}

.scrolltop__icon{
    font-size: 1.8rem;
    color: #fbfbfe;
}

.scroll-top{
    visibility: visible;
    bottom: 1.5rem;
}
