{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
{% include 'ui_snippets/navbar-nowidgets.html' %}
<!-- <div class="cover" style="width: 100vw; height: 100vh;">
    <img src="../static/images/bk1.jpg" alt="Login Background" />
</div> -->
{% include 'ui_snippets/svg-background.html' %}
<div class="dialog-content" style="display: block !important;">
    <div class="dialog-header">
        <div class="avatar-dialog">
            <img src="{{g.user.avatar}}"/>
        </div>
        <span class="dialog-title">Edit Profile</span>
    </div>
    <div class="dialog-body">
        <form action='/profile/edit-profile' method='post' enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <label>Update Your Avatar</label>
                {{ form.avatar(class='form-control', placeholder='Avatar URL', value=g.user.avatar)}}
            </div>
            <div class='form-group'>
                {{ form.username(class='form-control', placeholder='Your Name', value=g.user.name) }}
            </div>
            <div class='form-group'>
                {{ form.email(class='form-control', placeholder='Your Email', value=g.user.email) }}
            </div>
            <div class='form-group'>
                <!-- <button class="btn btn-danger">
                    Change Password
                </button> -->
                <label style="color: var(--mf-button-no);">Change Password</label>
                {{ form.new_password(class='form-control input-top-round', placeholder='New Password') }}
                {{ form.confirm_new_password(class='form-control input-bottom-round', placeholder='Confirm New Password') }}
            </div>
            <div class='form-group hide'>
                <input name='email2' type='text' maxlength='50' />
            </div>
            <div class="form-group">
                {% for error in errors %}
                    <div class='alert alert-danger' style="padding: 8px !important; text-align: center;">
                        {{ error[0] }}
                    </div>
                {% endfor %}
            </div>
            <div class='form-group'>
                <input type='submit' name='submit' id='dialog-join-submit' class='btn btn-primary' value='Update Profile'>
            </div>
        </form>
    </div>
</div>
{% endblock %}