{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<div class="cover" style="width: 100vw; height: 100vh;">
    <img src="../static/images/bk4.jpg" alt="Login Background" />
</div>
<div class="dialog-content" style="display: block !important;">
    <div class="dialog-header">
        <img src="../static/images/square-logo.webp" width="50" height="50" /><br/>
        <span class="dialog-title">Admin Login</span>
    </div>
    <div class="dialog-body">
        <form action='/database' method='post'>
            <div class='form-group'>
                <!-- <label for='name'>Enter a valid super-username</label> -->
                <input type='text' name='name' id='dialog-join-name' class='form-control' placeholder='Admin name' required maxlength='50'>
            </div>
            <div class='form-group'>
                <!-- <label for='email'>Enter authorization code</label> -->
                <input type='password' name='password' id='dialog-join-email' class='form-control' placeholder='Authorization code' required maxlength='50'>
            </div>
            <div class='form-group hide'>
                <input name='email2' type='text' maxlength='50' />
            </div>
            <div class='form-group'>
                <input type='submit' name='submit' id='dialog-join-submit' class='btn btn-primary' value='Confirm'>
            </div>
        </form>
    </div>
</div>
{% endblock %}