<div class="mt-4 mb-4 py-3 px-3" style="border: 1px solid #316dca; background: rgba(65,132,228,0.15); border-radius: 5px;">
    <div class="d-flex justify-content-between mb-1">
        <span><i>Help us build a better website!</i></span>
        <button style="background: transparent; color: gray; border: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </button>
    </div>
    <small>
        We are always looking for ways to improve our website, and we value every bit of contribution and feedback you give us. 
        If you are interested, check out the 
        <i><a href="https://github.com/MiracleFactory/MF-Project-Official-Website" target="_blank">github repository</a></i>
        and contribute to the project.
    </small>
</div>