<style> 
    .scrolltop {
        position: fixed;
        left: 15px;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        background: inherit;
        border: 1px solid var(--mf-neutral-gray-6);
        border-radius: .4rem;
        z-index: 10;
        transition: .4s;
        visibility: hidden;
        text-decoration: none;
        opacity: 0;
    }
    .scrolltop:hover {
        opacity: 1;
    }
    .scrolltop__icon {
        font-size: 1.8rem;
        color: inherit;
    }
    .scroll-top {
        visibility: visible;
        opacity: 0.75;
        transform: translateY(-10px);
    }
</style>
<a href="#" class="scrolltop" id="scroll-top" aria-label="top">
    <i class="bx bx-chevrons-up scrolltop__icon"></i> 
</a>
<script>
    function scrollTop() {
        const scrollTop = document.getElementById('scroll-top')
        if(this.scrollY >= 560)
            scrollTop.classList.add("scroll-top");
        else scrollTop.classList.remove("scroll-top")
    }
    window.addEventListener("scroll", scrollTop)
</script>